= form_for(@order) do |f| 
  - if @order.errors.any? 
    #error_explanation
      %h2=  t('errors.template.header', :count => @order.errors.size, :model => t('activerecord.models.order'))
      -#"#{pluralize(@order.errors.count, 'error')}  prohibited this order from being saved:"
      %p= t('errors.template.body')
      %ul
        - @order.errors.full_messages.each do |msg| 
          %li!= msg 
  .field
    = f.label :name, t('.name')
    %br
    = f.text_field :name, :size => 40
  .field
    = f.label :address, t('.address_html')
    %br/
    = f.text_area :address, :rows => 3, :cols => 40
  .field
    = f.label :email, t('.email')
    %br/
    = f.text_field :email, :size => 40
  .field
    = f.label :pay_type, t('.pay_type')
    %br/
    = f.select :pay_type, Order::PAYMENT_TYPES, :prompt => t('.pay_prompt_html') 
  .actions
    = f.submit t('.submit')

