!!!
%html
  %head
    %title Pragprog Books Online Store
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'depot', :media => 'all'
    = javascript_include_tag :defaults  
    = csrf_meta_tag  
  %body#store
    #banner
      = image_tag('logo.png')
      = @page_title || "Pragmatic Bookshelf"
    #columns
      #side
        %a{:href => '/'} Home
        %br
        %a{:href => '/faq.html'} FAQ
        
      #main
        = yield
